@import "reset.css";
@import "../fonts/ProximaNova-Bold/styles.css";
@import "../fonts/ProximaNova-Semibold/styles.css";
@import "../fontawesome-free-5.5.0-web/css/all.css";


html, body {
    height: 100%;

    background: #f6f6f6;
}

.content * {
    box-sizing: border-box;
    font-family: "ProximaNova-Semibold", sans-serif;
}

.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-weight: 600\0/;
}

.position-relative {
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    left: 0;

    vertical-align: middle;
    height: 100%;
    width: 100%;

    font-size: 14px;
    font-weight: normal;
    font-weight: 600\0/;

    text-align: center;
}

.container__content {
    vertical-align: middle;

    text-align: center;
    height: 100%;
}

.container__svg {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.content {
    width: 100%;
    max-width: 520px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
}

* html .content {
    width: 520px;
    display: inline-block;
    text-align: center;
}

.content__logo {
    max-width: 232px;
    min-height: 44px;

    vertical-align: middle;
}

* html .content__logo {
    margin-right: -30px;
}

.content__form {
    padding: 40px 0 15px;
}

.content__footer {
    cursor: pointer;
    color: #919293;
    padding-bottom: 20px;
}

* html .content__footer {
    margin-right: -30px;
}

.form {
    max-width: 520px;

    border-radius: 3px;
    box-shadow: 0 2px 12px 0 #eeeeee;
    background: #ffffff;

    padding: 44px 60px 60px;
}

.form > div:nth-last-child(1) {
    padding-bottom: 0;
}

.form__title {
    font-size: 24px;
    font-family: "ProximaNova-Bold", sans-serif;

    color: #494a4c;

    padding-bottom: 28px;
}

* html .form__title {
    margin-right: -30px;
}

/**+html .form__title {*/
    /*margin-right: -30px;*/
/*}*/

.form__title--no-padding {
    padding-bottom: 0;
}

.content__text {
    color: #6d6e6f;
}

.form__second-title {
    margin: 8px 0 20px
}

.form__message {
    padding: 9px 15px;
    border-radius: 3px;

    text-align: left;

    line-height: 1.2em;
    width: 100%;
}

.form__message span {
    width: 90%;
    display: inline-block;
}

[class*='form__message']::before {
    vertical-align: top;
    display: inline-block;
    font-weight: 600;
    width: 5%;
}

.form__message::after {
    content: "";
    clear: both;
    display: table;
}

.form__message--error {
    background: #fdebe6;
    color: #e74012;
}

.form__message--warning {
    background: #fef5e5;
    color: #f59c03;
}

.form__message--success {
    background: #ebf7ea;
    color: #40ab35;
}

.form__message--success::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
}

.form__message--warning::before {
    font-family: "Font Awesome 5 Free";
    content: "\f071";
}

.form__message--error::before {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
}

.form__messages .form__message {
    margin-bottom: 14px;
}

/** html .form__messages {*/
    /*margin-right: -30px;*/
/*}*/

*+html .form__messages {
    margin-right: 30px;
}


.form__field {
    width: 100%;
    text-align: left;

    padding-bottom: 15px;
}

.form__field-description {
    font-size: 12px;
    color: #494a4c;
    margin-top: 8px;

    line-height: 1.2em;
}

/** html .form__input-group {*/
    /*margin-right: 30px;*/
/*}*/

*+html .form__input-group {
    margin-right: 30px;
}

.form__input-group .form__field:nth-last-child(1) {
    padding-bottom: 0;
}

.form__input-icon {
    display: none;
    top: 10px;
    right: 14px;
    font-size: 16px;
    position: absolute;
    color: #e74012;
}

.form__field.error .form__input-icon {
    display: block;
}

.form__label-text {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 14px;
    color: #494a4c;
}

.form__input {
    width: 100%;
    line-height: 16px;
    padding: 9px 15px;
    border-radius: 3px;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: solid 1px #d6d8da;
    background: #ffffff;


    box-sizing: border-box;
}

.form__field.error .form__input {
    border: solid 1px #e74012;
    padding: 10px 15px 10px 15px;
    color: #e74012;
}

.form__input-icon [data-tooltip]:before {
    background: #e74012;
    transform: none;
    bottom: 155%;

    left: auto;
    right: -14px;
}

.form__input-icon [data-tooltip]:after {
    margin-left: -7px;
    border-top: 7px solid #e74012;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: 145%;
}

.form__link {
    float: left;
    color: #2096ff;
}

.form__description {
    margin-top: 24px;

    text-align: left;
    color: #6d6e6f;

    font-size: 14px;
    line-height: 1.3em;
}

.form__submit {
    float: right;
    padding: 9px 24px;
    background: #e74012;
    color: white;

    font-size: 14px;
    font-weight: normal;
    font-weight: 600\0/;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    border: 0;
    cursor: pointer;
}

.form__action {
    padding-top: 24px;
}

* html .form__action {
    margin-right: -30px;
}

.form__action-clear {
    clear: both;
    display: table;
}

.captcha {
    border-radius: 3px;
    background: #f6f6f6;
}

* html .captcha {
    height: 62px;
    margin-right: -30px;
}

*+html .captcha {
    height: 62px;
    margin-right: -30px;
}

.captcha-clear {
    clear: both;
    display: table;
}

.captcha__reset {
    color: #6d6e6f;
    cursor: pointer;

    background: #f6f6f6;
    border: 0;
    font-size: 15px;

    padding: 0;

    float: left;
    margin: 6%;
    margin-right: 0;
}

.captcha__image {
    float: right;
    max-height: 50px;
    max-width: 75%;
    margin: 7px 0;
    padding-right: 10px;
}

.svg-left {
    position: absolute;
    left: -3%;
    bottom: -3%;
    width: 42%;
}

.svg-right {
    position: absolute;
    right: -2%;
    top: -110px;
    width: 42%;
}

/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {*/
    /*.svg-left {*/
        /*bottom: -70px;*/
    /*}*/

    /*.svg-right {*/
        /*top: -140px;*/
        /*width: 42%;*/
    /*}*/
/*}*/

@media screen\0 {
    .svg-right {
        top: -140px;
        top: -60px\0/;
    }

    .svg-right image {
        height: 40% !important;
        width: 40% !important;

        height: 80%\0/ !important;
        width: 80%\0/ !important;
    }

    .svg-left {
        bottom: -70px;
    }

    .svg-left image {
        height: 40% !important;
        width: 40% !important;

        height: 80%\0/ !important;
        width: 80%\0/ !important;
    }
}

/*body .svg-right {*/
    /*top: 0;*/
/*}*/

/*body .svg-right image {*/
    /*height: 80% !important;*/
    /*width: 80% !important;*/
/*}*/

/*body .svg-left {*/
    /*bottom: 0;*/
/*}*/

/*body .svg-left image {*/
    /*height: 80% !important;*/
    /*width: 80% !important;*/
/*}*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .svg-left {
        position: absolute;
        left: -3%;
        bottom: -70px;
        width: 42%;
    }

    .svg-right {
        position: absolute;
        right: -2%;
        top: -140px;
        width: 42%;
    }
}

@media screen and (max-width: 1490px){
    .svg-right {
        position: absolute;
        right: -2%;
        top: -70px;
        width: 42%;
    }
}

.inline-icon {
    display: inline-block;
    width: 14px;
}

[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;

    transition: all 130ms ease-in;
    -webkit-transition: all 130ms ease-in;
    -moz-transition: all 130ms ease-in;
    -o-transition: all 130ms ease-in;
}

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -70px;
    padding: 5px;
    width: 140px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #494a4c;
    color: #ffffff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 11px;
    line-height: 1.2;
    z-index: 10000;

    box-sizing: border-box;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #494a4c;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    z-index: 10000;
}

[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip]:hover:before,
[data-tooltip]:hover:after
{
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

@media screen and (max-width: 380px) {
    body {
        background: #ffffff;
    }

    .content .content__form {
        padding: 0;
    }

    .content .form {
        box-shadow: none;
        padding: 44px 20px 24px;
    }

    .form__action .form__submit {
        width: 100%;
    }

    .form__action .form__link {
        margin-bottom: 10px;
    }

    .form [class*='form__message']::before {
        width: 7%;
    }

    [data-tooltip]:before {
        margin-left: -107px;
    }
}

@media screen and (max-width: 540px) {
    .content__form {
        padding: 40px 20px 15px;
    }

    .form {
        padding: 44px 40px 60px;
    }
}

@media screen and (max-width: 570px) {
    .form__second-title {
        margin: 8px 0 28px
    }
}

@media screen and (max-width: 450px) {
    .form {
        padding: 44px 20px 60px;
    }
}