
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('ProximaNova-Semibold.eot?') format('eot'), 
	     url('ProximaNova-Semibold.otf')  format('opentype'),
	     url('ProximaNova-Semibold.woff') format('woff'), 
	     url('ProximaNova-Semibold.ttf')  format('truetype'),
	     url('ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
}
